.Index {
  text-align: center;
}

.Index-header {
  background-color: midnightblue;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Arial, serif;
}

.AddPicture {
  text-align: center;
  font-weight: bold;
  font-family: Arial, serif;
  font-size: calc(10px + 2vmin);
}
